/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: blue;
}

/* header */

nav{
    padding: 15px 0
    ;
}

header {
    background-color: lightblue;
}

.navigator {
    background-color: yellow;
    color: black;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 30%;
    border: 1px solid black;
}

.link {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 50%;
    border: 1px solid black;
}

.login {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 30%;
    border: 1px solid black;
}

/* MAIN */

.layout-singolo {
    background-color: #ee82ee;
    /* debug */
    height: 100px;
}

.layout-singolo2 {
    background-color: green;
    /* debug */
    height: 300px;
}

.layout-grande{
    width: 60%;
    background-color: #1e90ff;
    height: 100px;
}

.layout-piccolo{
    width: 40%;
    background-color: pink;
    height: 100px;
}


.background1 {
    background-color: white;
    padding: 15px 0
    ;
}

.background0 {
    background-color: blue;
    padding: 15px 0;
}

.background3 {
    background-color: lightgray;
    padding: 15px 0;
}